@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: 'Source Code Pro', monospace;
  color: #2b2b2b;
  background-color: #2b2b2b;
}
.column {
  box-shadow: 6px 0 3px rgba(1,1,1,0.4), -6px 0 3px rgba(1,1,1,0.4);
  max-width: 900px;
  margin: 0px auto;
  height: 100%;
}
.navigation {
  background: #2176ff;
}
.navigation .nav {
  max-width: 900px;
  margin: 0px auto;
}
.navigation .nav li {
  display: inline-block;
}
.navigation .nav a {
  display: inline-block;
  padding: 20px;
  color: #f6f6f6;
  text-decoration: none;
  font-size: 1.2em;
}
.navigation .nav a:hover {
  background-color: #ef9fef;
  text-decoration: none;
  color: #f6f6f6;
}
.header {
  background: url("https://i2.wp.com/blogs-images.forbes.com/brucedorminey/files/2017/03/blue-fiber-1200x800.jpg?w=960&ssl=1");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px auto;
}
.header .page-title {
  font-weight: 200;
  font-size: 80px;
  text-align: center;
  padding: 100px;
  text-transform: uppercase;
  color: #fff;
}
.main-content {
  margin: 0px auto;
  padding: 50px 40px;
  max-width: 900px;
  background-color: #f6f6f6;
}
.main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
.main-content h4.blog-title a {
  text-decoration: none;
}
.main-content h4.blog-title a:visited {
  color: #2b2b2b;
}
.main-content h4.blog-title a:hover {
  text-decoration: none;
  color: #8c1add;
}
.main-content .notfound {
  text-align: center;
}
.footer {
  margin: 0px auto;
  max-width: 900px;
  border-top: 1px solid #444;
  padding: 20px 40px;
  background-color: #f6f6f6;
}
.footer p {
  color: #444;
  font-size: 12px;
}
