extends default
block variables
    - var title= 'about-nicole'

block content
  p.
    What is this site about... Well what is life about? What is anything about honestly! Does everything need to be about something? Why can it not just <i>be</i>!
          