block variables
doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/css/index.css')
    title Technicole
  body
    .navigation
      ul.nav
        li: a(href='/') Home
        li: a(href='/blog') Blog
        li: a(href='/about') About

    .column
      .header
        h1.page-title= (title || 'tech-nicole')
        p Blue Fiber Credit: Michael Wyszomierski/Flickr Creative Commons.

      .main-content
        block content
          p this page is still empty

      .footer
        include ./footer.pug
