extends default
block variables
    - var title= title

block content
  p.
    Since this site for now has <i>absolutely no purpose whatsoever</i> I decided I might as well document what I'm doing with it here. Currently this site is generated from a few static pug templates, running in Express on a nodejs server.
    There is no logic involved in any of this except for the rendering of the templates.
  p.
    I've now built the blog functionality I was talking about previously! Check the little button at the top marked "blog" to see it in action!
